<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-item nav-link text-white" href="{% url 'admin_page' %}">Dashboard</a>
        <a class="nav-item nav-link text-white" href="{% url 'admin_request_view' %}">Requests</a>
        <a class="nav-item nav-link text-white" href="{% url 'transaction_admin_view' %}">Submit Transaction</a>
        <a class="nav-item nav-link text-white" href="{% url 'transaction_list_admin' %}">View Transactions</a>
        <a class="nav-item nav-link text-white" href="{% url 'balance_list_admin' %}">View Balances</a>
        {% if user.is_superuser %}
            <a class="nav-item nav-link text-white" href="{% url 'admin_user_view' %}">Manage Users</a>
        {% endif %}
    </div>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="bi-person-circle" style="color: rgb(255, 255, 255);"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="{% url 'profile' user.id %}">Change Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'log_out' %}">Log out</a></li>
            </ul>
        </li>
    </ul>
</div>