{% load auth_helpers %}
<table class="table table-striped" style="text-align: center; vertical-align: top">
    <thead>
        <tr>
            {% if is_student %}
                <th style="text-align:center; width:15%">Start Date</th>
                <th style="text-align:center; width:10%">Day</th>
                <th style="text-align:center; width:15%">Teacher</th>
                <th style="text-align:center; width:auto">Further Information</th>
                <th style="text-align:center; width:5%">View Booking</th>
                <th style="text-align:center; width:5%">View Invoice</th>
            {% else %}
                <th style="text-align:center; width:15%">Start Date</th>
                <th style="text-align:center; width:15%">Student</th>
                <th style="text-align:center; width:15%">Teacher</th>
                <th style="text-align:center; width:auto">Further Information</th>
                <th style="text-align:center; width:5%">View Booking</th>
                <th style="text-align:center; width: 5%">View Invoice</th>
            {% endif %}
        </tr>
    </thead>
    </tbody>
        {% if bookings %}
            {% if is_student %}
                {% for booking in bookings %}
                    <tr>
                        <td style="text-align:center">{{ booking.start_date }}</td>
                        <td style="text-align:center">{{ booking.day_of_the_week }}</td>
                        <td style="text-align:center">{{ booking.teacher }}</td>
                        <td style="text-align:center">{{ booking.further_information|truncatechars:100 }}</td>
                        <td style="text-align:center">
                            <a href="{% url 'booking_view' %}?booking_id={{ booking.id }}" class="btn btn-primary">View</a>
                        </td>
                        <td style="text-align:center">
                            <a href="{% url 'invoice_view' %}?invoice_id={{ booking.invoice_id }}" class="btn btn-primary">Invoice</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for booking in bookings %}
                    <tr>
                        <td style="text-align:center">{{ booking.start_date }}</td>
                        <td style="text-align:center">{{ booking.student_name }}</td>
                        <td style="text-align:center">{{ booking.teacher }}</td>
                        <td style="text-align:center">{{ booking.further_information|truncatechars:100 }}</td>
                        <td style="text-align:center">
                            <a href="{% url 'booking_view' %}?booking_id={{ booking.id }}" class="btn btn-primary">View</a>
                        </td>
                        <td style="text-align:center">
                            <a href="{% url 'invoice_view' %}?invoice_id={{ booking.invoice_id }}" class="btn btn-primary">Invoice</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% else %}
            <tr>
                <td colspan=6 style="text-align:left">No bookings yet...</td>
            </tr>
        {% endif %}
    </tbody>
</table>