{% load auth_helpers %}
<table class="table table-striped" style="text-align: center; vertical-align: top">
    <thead>
        <tr>
            {% if is_student %}
                <th>Start Date</th>
                <th>Day</th>
                <th>Teacher</th>
                <th>Further Information</th>
                <th>View Booking</th>
                <th>View Invoice</th>
            {% else %}
                <th>Start Date</th>
                <th>Student</th>
                <th>Teacher</th>
                <th>Further Information</th>
                <th>Edit Booking</th>
                <th>View Invoice</th>
            {% endif %}
        </tr>
    </thead>
    </tbody>
        {% if bookings %}
            {% if is_student %}
                {% for booking in bookings %}
                    <tr>
                        <td style="vertical-align: top">{{ booking.start_date }}</td>
                        <td style="vertical-align: top">{{ booking.day_of_the_week }}</td>
                        <td style="vertical-align: top">{{ booking.teacher }}</td>
                        <td style="vertical-align: top">{{ booking.further_information|truncatechars:30 }}</td>
                        <td style="vertical-align: top">
                            <a href="{% url 'booking_view' %}?booking_id={{ booking.invoice_id }}" class="btn btn-primary">View</a>
                        </td>
                        <td style="vertical-align: top">
                            <a href="{% url 'invoice_view' %}?invoice_id={{ booking.invoice_id }}" class="btn btn-primary">Invoice</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                {% for booking in bookings %}
                    <tr>
                        <td style="vertical-align: top">{{ booking.start_date }}</td>
                        <td style="vertical-align: top">{{ booking.student_name }}</td>
                        <td style="vertical-align: top">{{ booking.teacher }}</td>
                        <td style="vertical-align: top">{{ booking.further_information|truncatechars:30 }}</td>
                        <td style="vertical-align: top">
                            <a href="{% url 'booking_view' %}?booking_id={{ booking.invoice_id }}" class="btn btn-primary">Edit</a>
                        </td>
                        <td style="vertical-align: top">
                            <a href="{% url 'invoice_view' %}?invoice_id={{ booking.invoice_id }}" class="btn btn-primary">Invoice</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% else %}
            <tr>
                <td style="text-align: left">No bookings yet...</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endif %}
    </tbody>
</table>