<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-item nav-link text-white" href="{% url 'child_page' %}">Dashboard</a>
        <a class="nav-item nav-link text-white" href="{% url 'request_list_child' %}">Requests</a>
        <a class="nav-item nav-link text-white" href="{% url 'transaction_list_child' %}">My Transactions</a>
    </div>
    <div class="navbar-nav ms-auto mb-2 mb-lg-0">
        <a class="nav-item nav-link text-white" href="{% url 'children_list' %}">Return to Children</a>
    </div>
</div>