{% load auth_helpers %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
        <a class="navbar-brand text-white" href="{% url 'home' %}">
            <p>Music School</p>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {% if user.is_authenticated %}
            {% if user|has_group:'Student' %}
                {% include 'partials/student_menu.html' %}
            {% else %}
                {% include 'partials/admin_menu.html' %}
            {% endif %}
        {% endif %}
    </div>
</nav>