<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
        <a class="navbar-brand text-white" href="{% url 'home' %}">
            <p>Music School</p>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {% if is_director %}
        {% include 'partials/student_menu.html' %}
        {% elif is_administrator %}
        {% include 'partials/student_menu.html' %}
        {% else %}
        {% include 'partials/student_menu.html' %}
        {% endif %}
    </div>
</nav>