<table class="table table-striped">
    <thead>
        <tr>
          {% if is_student %}
            <th style="text-align:center; width:25%">Date</th>
            <th style="text-align:center; width:auto">Further Information</th>
            <th style="text-align:center; width:5%">Fulfilled</th>
            <th style="text-align:center; width:10%">View Request</th>
          {% else %}
            <th style="text-align:center; width:25%">Date</th>
            <th style="text-align:center; width:25%">Student</th>
            <th style="text-align:center; width:auto">Email</th>
            <th style="text-align:center; width:10%">View Request</th>
          {% endif %}
        </tr>
    </thead>
    {% if requests %}
      {% if is_student %}
        {% for request in requests %}
          <tr>
              <td style="text-align:center">{{ request.raw_date }}</td>
              <td style="text-align:center">{{ request.further_information|truncatechars:30 }}</td>
              <td style="text-align:center">{{ request.fulfilled }}</td>
              <td style="text-align:center">
                <a href="{% url 'request_view' %}?request_id={{ request.id }}" class="btn btn-primary">View</a>
              </td>
          </tr>
        {% endfor %}
      {% else %}
        {% for request in requests %}
          <tr>
            <td style="text-align:center">{{ request.raw_date }}</td>
            <td style="text-align:center">{{ request.student_name }}</td>
            <td style="text-align:center">{{ request.user.email }}</td>
            <td style="text-align:center">
              <a href="{% url 'request_view' %}?request_id={{ request.id }}" class="btn btn-primary">View</a>
            </td>
          </tr>
        {% endfor %}
      {% endif %}
    {% else %}
      <tr>
        <td colspan=4 style="text-align:left">No requests yet...</td>
      </tr>
    {% endif %}
  </table>