<table class="table table-striped">
    <thead>
        <tr>
          {% if is_student %}
            <th style="text-align:center; width:15%">Date</th>
            <th style="text-align:center; width:auto">Further Information</th>
            <th style="text-align:center; width:7%">Fulfilled</th>
            <th style="text-align:center; width:7%">View Request</th>
          {% else %}
            <th style="text-align:center; width:15%">Date</th>
            <th style="text-align:center; width:15%">Student</th>
            <th style="text-align:center; width:auto">Further Information</th>
            <th style="text-align:center; width:7%">View Request</th>
            {% if unfulfilled %}
              <th style="text-align:center; width:7%">Fulfill Request</th>
            {% endif %}
          {% endif %}
        </tr>
    </thead>
    {% if requests %}
      {% if is_student %}
        {% for request in requests %}
          <tr>
              <td style="text-align:center">{{ request.raw_date }}</td>
              <td style="text-align:center">{{ request.further_information|truncatechars:100 }}</td>
              <td style="text-align:center">{{ request.fulfilled }}</td>
              <td style="text-align:center">
                <a href="{% url 'request_view' %}?request_id={{ request.id }}" class="btn btn-primary">View</a>
              </td>
          </tr>
        {% endfor %}
      {% else %}
        {% for request in requests %}
          <tr>
            <td style="text-align:center">{{ request.raw_date }}</td>
            <td style="text-align:center">{{ request.student_name }}</td>
            <td style="text-align:center">{{ request.further_information|truncatechars:100 }}</td>
            <td style="text-align:center">
              <a href="{% url 'request_view' %}?request_id={{ request.id }}" class="btn btn-primary">View</a>
            </td>
            {% if unfulfilled %}
              <td style="text-align:center">
                <a href="{% url 'fulfil_request' %}?request_id={{ request.id }}" class="btn btn-primary">Fulfill</a>
              </td>
            {% endif %}
          </tr>
          {% endfor %}
      {% endif %}
    {% else %}
      <tr>
        {% if unfulfilled %}
          <td colspan=5 style="text-align:left">No requests yet...</td>
        {% else %}
          <td colspan=4 style="text-align:left">No requests yet...</td>
        {% endif %}
      </tr>
    {% endif %}
  </table>