<table class="table table-striped">
    <thead>
      <tr>
        <th style="text-align:center; width:25%">Date</th>
        <th style="text-align:center; width:25%">Student</th>
        <th style="text-align:center; width:25%">Amount</th>
        <th style="text-align:center; width:25%">Invoice no.</th>
      </tr>
    </thead>
    {% if transactions %}
      {% for transaction in transactions %}
        <tr>
            <td style="text-align:center">{{ transaction.date }}</td>
            <td style="text-align:center">{{ transaction.student.user.email }}</td>
            <td style="text-align:center">{{ transaction.amount }}</td>
            <td style="text-align:center">{{ transaction.invoice.invoice_number }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
          <td colspan=4 style="text-align:left">No transactions yet...</td>
      </tr>
    {% endif %}
  </table>