{% extends 'base_content.html' %}
{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col-6">
            <h2>Current requests</h2>
            {% include 'partials/request_table_small.html' with user_requests=requests %}
        </div>
        <div class="col-6">
            <h2>Upcoming bookings</h2>
            {% include 'partials/bookings_table_small.html' with bookings=bookings %}
        </div>
    </div>
    <div class = "row">
        <div class="col-6">
            <h2>Terms</h2>
            {% include 'partials/terms_table.html' with terms=terms %}
        </div>
        <div class="col-6">
            <h2>Recent transactions</h2>
            {% include 'partials/transactions_table.html' with transactions=transactions %}
        </div>
        <div class="col-6">
        </div>
</div>
{% endblock %}