{% extends 'base_content.html' %}
{% block content %}
<div class="container">
    <div class="row mb-3">
        <div class="col-6">
            <h2>Current requests</h2>
            {% include 'partials/request_table_small.html' with user_requests=requests %}
        </div>
        <div class="col-6">
            <h2>Upcoming bookings</h2>
            {% include 'partials/bookings_table_small.html' with bookings=bookings %}
            <a class="btn btn-primary" href="{% url 'admin_booking_list' %}" role="button">Edit bookings</a>
        </div>
    </div>
    <div class = "row">
        <div class="col-6">
            <h2>Recent transactions</h2>
            {% include 'partials/transactions_table.html' with transactions=transactions %}
            <a class="btn btn-primary" href="{% url 'transaction_admin_view' %}" role="button">Submit student transaction</a>
        </div>
        <div class="col-6">
        </div>
</div>
{% endblock %}