{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Balance</th>
      </tr>
    </thead>
    {% if students %}
      {% for student in students %}
        <tr>
            <td>{{ student.user.first_name }}</td>
            <td>{{ student.user.last_name }}</td>
            <td>{{ student.user.email }}</td>
            <td>{{ student.balance }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td>No transactions yet...</td>
        <td></td>
        <td></td>
      </tr>
    {% endif %}
  </table>
</div>
{% endblock %}