{% extends 'base_content.html' %}
{% block content %}
<div class = "container">
  <h1> Fulfil Request </h1>
  <form action="/fulfil_request/" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="date" value="{{ date }}">
      <input type="submit" name="fulfil" value="Fulfil">
      <input type="submit" formnovalidate="formnovalidate" name="delete" value="Delete">
      <input type="submit" formnovalidate="formnovalidate" name="return" value="Return">
  </form>
</div>
{% endblock %}
