{% extends 'base.html' %}
{% block body %}
<div id="cover-image">
    <div class="container vh-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <div class="card offset-sm-2 offeset-md-4 offset-lg-8 cover-card"
                    style="padding:20px;background-color:#FAD7C1;">
                    <h1>FalconMusic</h1>
                    <p>Welcome to your favorite music school!</p>
                    <div class="d-flex justify-content-start">
                        <p><a href="{% url 'log_in' %}" class=" btn btn-lg btn-primary" style="margin-right:10px">Log
                                in</a></p>
                        <p><a href="{% url 'sign_up' %}" class="btn btn-lg btn-secondary" style="margin-left:10px">Sign
                                up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}