{% extends 'base_content.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <h1>Request</h1>

            <form action="/request_list/" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="date" value="{{ date }}">
                {% if not readonly %}
                    <input type="submit" name="update" value="Update">
                    <input type="submit" name="delete" value="Delete">
                {% endif %}
                <input type="submit" name="return" value="Return">
            </form>
        </div>
    </div>
</div>

{% endblock %}