{% extends 'base_content.html' %}
{% block content %}

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th style="width: 10%">Date</th>
      <th>Further Information</th>
      <th style="width: 5%">Fulfilled</th>
    </tr>
  </thead>
  {% if date_user_request_pairs %}
    {% for date_user_request_pair in date_user_request_pairs %}
      <tr><form action="/request_view/" method="get">
          <input type="hidden" name="date" value="{{ date_user_request_pair.date }}"/>
          <td><input type="submit" value="{{ date_user_request_pair.request.date }}"/></td>
          <td>{{ date_user_request_pair.request.further_information }}</td>
          <td>{{ date_user_request_pair.request.fulfilled }}</td>
        </form></tr>
    {% endfor %}
  {% else %}
    <tr>
      <td>No requests yet...</td>
      <td></td>
      <td></td>
    </tr>
  {% endif %}
</table>

{% endblock %}