{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row mb-3">
    <div class ="col-6">
      <h2>Upcoming bookings</h2>
      {% include 'partials/bookings_table_small.html' with bookings=bookings %}
      </table>
    </div>
    <div class ="col-6">
      <h2>My requests</h2>
      {% include 'partials/request_table.html' with date_user_request_pairs=date_user_request_pairs%}
      <p><a href="{% url 'new_request_view' %}" class=" btn btn-sm btn-primary">New Request</a></p>
    </div>
  </div>
  <div class ="row">
    <div class ="col-6">
      <h2>My invoices</h2>
      {% include 'partials/invoice_table.html' with invoices=invoices %}
    </div>
    <div class ="col-6">
      <h2>My transactions</h2>
      {% include 'partials/transactions_table.html' with transactions=transactions %}
    </div>
  </div>
</div>
{% endblock %}