{% extends 'base_content.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <h1>Edit Term</h1>

            <form action="{% url 'term_view' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="old_term_name" value="{{ old_term_name }}"/>
                <div style="color:red;">
                    {{form.non_field_errors}}
                </div>
                {% include 'partials/bootstrap_form.html' with form=form %}
                <input type="submit" value="Submit" class="btn btn-primary">
            </form><br>
            <form action="{% url 'term_deletion_confirmation_view' %}" method="get">
                {% csrf_token %}
                <input type="hidden" name="old_term_name" value="{{ old_term_name }}"/>
                <input type="submit" value="Delete" class="btn btn-secondary">
            </form>
        </div>
    </div>
</div>

{% endblock %}